<div class="container flex-container">

  <div class="flex-items">
    <div class="row">

    <h2 class="text-center">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true ,
                          input_html: { autocomplete: "first name" },
                          class:"form-controls" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.input :last_name,
                          required: true,
                          autofocus: true ,
                          input_html: { autocomplete: "last name" },
                          class:"form-controls" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.input :address,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "address" },
                      class:"form-controls" %>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.input :postcode,
                          required: true,
                          autofocus: true ,
                          input_html: { autocomplete: "postcode" },
                          class:"form-controls" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.input :city,
                          required: true,
                          autofocus: true ,
                          input_html: { autocomplete: "city" },
                          class:"form-controls" %>
            </div>
          </div>
        </div>
        <div class="form-group">
        <%= f.input :user_location,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "user_location" },
                    label: "Country",
                    class:"form-controls" %>
        </div>
        <div class="form-group">
          <%= f.input :email,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "email" },
                      class:"form-controls" %>
        </div>
        <div class="form-group">
        </div>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      class:"form-controls" %>
        </div>
        <div class="form-group">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      class:"form-controls" %>
        </div>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Sign up", class: "btn-form" %>
      </div>
      <div class="text-center">

        <%= render "devise/shared/links", class: "text-center" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
