<% if !policy(Mobile).create? %>
  <%= link_to "Edit information", edit_mobile_path %>
<% end %>






<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-offset-1">
      <div class="mobile-infos">
        <h1><%= "#{@mobile.brand} - #{@mobile.model}" %></h1>
      </div>
      <div class="card-mobile">
        <p><%= "description: #{@mobile.content}" %></p>
      </div>
      <div class="card-mobile-reviews">
        <h2>What people thought about that booking</h2>    <!-- att. 'see all reviews' VS 'what people thougth...-->
        <% @reviews.each do |review| %>
          <div class= 'user_fullname'>
            <strong>
              <%= review.booking.user.first_name + ' ' + review.booking.user.last_name %>
            </strong>
            <span>review.created_at</span>
          </div>
          <div class="stars">
            <%= "#{review.star}/5"  %>
          </div>
          <div class='review_content'>
            <%= review.content %>
          </div>
        <% end %>
        <p>see all reviews</p>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <div class="booking-card">

      </div>
      <div class="map">

      </div>
    </div>
  </div>
</div>
