<div class="container antinavbar">


<!-- First Row -->
  <div class="mobile-global">

    <div class="mobile-name">
      <h1 align="center"><%= "#{@mobile.brand} - #{@mobile.model}" %></h1>
    </div>

    <div class="flexbox">

      <div class="mobile-details">

        <div class="mobile-pic" style="background-image: url('<%= cl_image_path @mobile.photo %>'); width: 100%">
        </div>

        <div class="mobile-infos">
          <div style="display: flex; flex-direction: column;">
            <div class="mobile-user">
              <h4> Owner : <%= @mobile.user.first_name %></h4>
            </div>

            <div class="mobile-grade">
              <h4> Grade : <%= @mobile.grade %></h4>
            </div>

            <div class="mobile-earphones">
              <h4> Earphones : <%= @mobile.earphones %></h4>
            </div>

            <div class="mobile-charger">
              <h4> Charger : <%= @mobile.charger %></h4>
            </div>

            <div class="content-mobile">
              <h2>Description : </h2>
              <p><%= @mobile.content %></p>
            </div>

          </div>

        </div>
      </div>

      <div class="booking-details">
        <div class="mobile-booking text-center">
          <% if policy(@mobile.bookings.new).create? %>

            <div class="mobile-booking-text text-center">
              <h2><%= "Book #{@mobile.user.first_name}'s" %><br></h2>
                <h2><%= "#{@mobile.brand} #{@mobile.model}"  %><br></h2>
                <h3 id="daily_price"><%="for as low as €#{@mobile.daily_price} "%>per day</h3>
            </div>

            <div class="booking-form">

              <%= simple_form_for [@mobile, @booking] do |f| %>

                <div class="form-inputs checkout">
                  <div class="form-group">
                    <%= f.input :minDate,
                                as: :string,
                                input_html: {class: "datePicker"},
                                label: "From" %>
                  </div>
                  <div class="form-group">
                    <%= f.input :maxDate,
                                as: :string,
                                input_html: {class: "datePicker"},
                                label: "To" %>
                  </div>

                  <div id="price" class="text-center"></div>

                  <div class="form-actions text-center">
                    <%= f.button :submit, "Book this phone", class: " btn-book" %>
                  </div>
                </div>

              <% end %>
            </div>

          <% else %>

            <div class="no-booking text-center">
              <div class="no-booking-text">
                <h2>Your phone is now</h2>
                <h2>available for booking!</h2>
              </div>
              <div class="no-booking-links">
                <h2>Share with your friends:</h2>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>

  <!-- Second Row -->
    <div class="flexbox">

      <div class="card-mobile-reviews">

        <h2>What people thought about that mobile:</h2>    <!-- att. 'see all reviews' VS 'what people thougth...-->
        <% @reviews.each do |review| %>
          <div class= 'user_fullname'>
            <strong>
              <%= review.booking.user.first_name + ' ' + review.booking.user.last_name %>
            </strong>
            <span><%= review.created_at %></span>
          </div>

          <div class="stars">
            <%= "#{review.star}/5"  %>
          </div>

          <div class='review_content'>
            <%= review.content %>
          </div>
        <% end %>
      </div>

      <div class="map-container-show">
        <div
          id="map"
          style="width: 100%;
          height: 70vh;
          border-radius: 5px"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

  <!--   fin du container 2-->
    <div class="buttons">
      <%= link_to "Back to list", root_path, class: "btn btn-form" %>

    <% if policy(@mobile).update? %>
      <%= link_to "Edit information", edit_mobile_path, class: "btn btn-form" %>
    <% end %>

    <% if policy(@mobile).destroy? %>
      <%= link_to "Delete this mobile offer", mobile_path(@mobile),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn btn-form btn-delete" %>
    <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">


const minDate = document.getElementById("booking_minDate");
const maxDate = document.getElementById("booking_maxDate");
const price = document.getElementById("price");


// const validateRequest = () => {
//   if
// };


const calculateThePrice = (event) => {
const priceString = document.getElementById("daily_price").innerHTML;
const dailyPrice = <%="#{@mobile.daily_price}"%>;
const date1 = new Date(minDate.value);
const date2 = new Date(maxDate.value);
const timeDiff = Math.abs(date2.getTime() - date1.getTime());
const diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
const totalPrice = diffDays * dailyPrice;
displayTotalPrice(totalPrice);
};

const displayTotalPrice = (element) => {
  price.insertAdjacentHTML('beforeend', `<div class="price-booking">The total price for this booking will be</div><div><strong>${element}</strong> Euros</div>`);

};

maxDate.addEventListener('focusout', calculateThePrice);


</script>
