<div class="container flex-container">

  <div class="flex-items">
    <div class="row">

      <div class="text-center">
        <h2>Book the
          <%= "#{@mobile.brand} #{@mobile.model}"  %><br></h2>
          <h2>for as low as €<span id="daily_price"><%="#{@mobile.daily_price}"%></span> per day</h2>
      </div>

      <%= simple_form_for [@mobile, @booking] do |f| %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :minDate,
                            as: :string,
                            input_html: {class: "datePicker"},
                            label: "From" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :maxDate,
                            as: :string,
                            input_html: {class: "datePicker"},
                            label: "To" %>
              </div>
            </div>
          </div>
        </div>
        <div id="price" class="text-center"></div>
        <div class="form-actions text-center">
          <%= f.button :submit, "Book this phone", class: "btn-form" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
<script type="text/javascript">


const minDate = document.getElementById("booking_minDate");
const maxDate = document.getElementById("booking_maxDate");
const price = document.getElementById("price");


// const validateRequest = () => {
//   if
// };


const calculateThePrice = (event) => {
const priceString = document.getElementById("daily_price").innerHTML;
const dailyPrice = parseInt(priceString, 10);
const date1 = new Date(minDate.value);
const date2 = new Date(maxDate.value);
const timeDiff = Math.abs(date2.getTime() - date1.getTime());
const diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
const totalPrice = diffDays * dailyPrice;
displayTotalPrice(totalPrice);
};

const displayTotalPrice = (element) => {
  price.insertAdjacentHTML('beforeend', `<div class="alert alert-warning">The total price for this booking will be <strong>${element}</strong> Euros</div>`);
};

maxDate.addEventListener('blur', calculateThePrice);


</script>
