<div class='container flexbox' style='padding-top: 70px'>

<!-- colonne de gauche 25% -->
  <div class="container-user-info">
    <div class="profile-pic">
      <img src="image_tag banner-phone.png" class='profile_pic'>
    </div>
    <div class="verified-info">
      <div class="card-header">Verified info</div>
      <p><%= current_user.email %></p>
      <p><%= current_user.phone_number %></p>
    </div>
  </div>

<!-- colonne de droite 75% -->
  <div class="container-bookings">

    <div class=dashboard-header>Your phones</div>
      <div class="dashboard-section">
        <% @user.mobiles.each do |mobile| %>
          <img class="dashboard-phone-img" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
          <div class="dashboard-section-brand">
            <%= mobile.brand %> <%= mobile.model %>
          </div>
          <div class="dashboard-section-price">
             <p><strong><%= mobile.daily_price %></strong></p>
          </div>
              <%= link_to "edit", ""  %>
              <%= link_to "delete", ""  %>
          <% end %>

    <div class=dashboard-header>Your lending history</div>
      <div class="dashboard-section">
        <% @user.bookings.user.each do |booking| %>
          <img class="dashboard-phone-img" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
          <div class="dashboard-section-brand">
            <%= mobile.brand %> <%= mobile.model %>
          </div>
          <div class="dashboard-section-price">
             <p><strong><%= mobile.daily_price %></strong></p>
          </div>
              <%= link_to "edit", ""  %>
              <%= link_to "delete", ""  %>
          <% end %>
   </div>



