<div class='container antinavbar'>
 <div class="container-dashboard">
   <div class="dashboard-name">
     <h1 align="center">Dashboard</h1>
   </div>

   <!-- colonne de gauche 25% -->
   <div class="flexbox">
     <div class="container-user-info">
       <div class="profile-pic">
         <img src='<%= cl_image_path "#{current_user.photo}"%>' style = "height: 150px; width:150px;" >
       </div>
       <div class="verified-info">
         <div class="card-header">Verified info</div>
         <p><%= current_user.email %></p>
         <p><%= current_user.phone_number %></p>
       </div>
     </div>

   <!-- colonne de droite 75% -->
     <div class="container-bookings">

       <div class="profile-rows">
         <div class=dashboard-header>
           <h2>Your phones</h2>
         </div>

         <div class="dashboard-section">


           <% @mobiles.each do |mobile| %>

             <div class="dashboard-section-line">
               <img class="dashboard-section-pic" src="<%= cl_image_path mobile.photo %>">
               </div>
               <div class="dashboard-section-brand">
                 <%= mobile.brand %> <%= mobile.model %>
               </div>
               <div class="dashboard-section-price">
                  <p><strong><%= mobile.daily_price %></strong></p>
               </div>
               <div class="buttons">
                 <%= link_to "Edit", mobile_path, class: "btn btn-form" %>
                 <%= link_to "Delete", mobile_path,
                   method: :delete,
                   data: { confirm: "Are you sure?" },
                   class: "btn btn-form btn-delete" %>
               </div>
             </div>
           <% end %>
         </div>
       </div>

       <div class="profile-rows">
         <div class=dashboard-header>
           <h2>what you rented to others</h2>
         </div>
           <div class="dashboard-section">
             <% if @bookings_as_renter.nil? %>
                 <p>no booking at the moment</p>
             <% else %>
             <% @bookings_as_renter.each do |booking| %>
               <%= booking.user_id %>
               <%= booking.minDate %>
               <%= booking.maxDate %>
               <%= booking.mobile_id %>
               <%= booking.status %>
             <% end %>
           <% end %>
         </div>
       </div>
         <div class="profile-rows">
         <div class=dashboard-header>
           <h2>People rented from you</h2>
         </div>
           <div class="dashboard-section">
             <% if @bookings_as_lender.nil? %>
                 <p>no booking at the moment</p>
             <% else %>
             <% @bookings_as_lender.each do |booking| %>
               <%= booking.user_id %>
               <%= booking.minDate %>
               <%= booking.maxDate %>
               <%= booking.mobile_id %>
               <%= booking.status %>
             <% end %>
           <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<!--
<div class="container">
  <h1>dashboard</h1>
  <div class="row">
    <div class="col-sm-4">
      <h2>profile info</h2>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <h2>My Phones For Rent</h2>
        <div class="col-sm-3">
          photo
        </div>
        <div class="col-sm-6">
          titre tel
        </div>
        <div class="col-sm-3">
          button
        </div>
      </div>
      <div class="row">
        <h2>Rental</h2>
        <div class="col-sm-3">
          photo du mobile
        </div>
        <div class="col-sm-6">
          <h3>Rental</h3>
          <div class="row">
            <div class="col-sm-4">
              <h4>Renter</h4>
            </div>
            <div class="col-sm-8">
              <h4>Period</h4>
              <div class="row">
                <div class="col-sm-6">
                  <h5>begin</h5>
                </div>
                <div class="col-sm-6">
                  <h5>end</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          button
        </div>
      </div>
    </div>
  </div>
</div>
-->
